* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 110vh;
  background: linear-gradient(135deg,
      #f78fb3,
      #feca57,
      #48dbfb,
      #1dd1a1);
  overflow-x: hidden;
}

.bg-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: rgba(255, 255, 255, 0.15);
  z-index: -1;
}

header {
  width: 100%;
  height: 4.4rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.5;

}

.game-card {
  background: rgba(255, 255, 255, 0.25);
  width: 85%;
  max-width: 400px;
  margin: 6rem 0;
  padding: 3rem 1rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

 /*  .question {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  background-color: #f78fb3;
}
.message {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
} */

.game-message {
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  /* transition: all 0.3s ease; */
  /* background-color: #0066ff; */
  text-align: center;
}

.welcome {
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.65);
  animation: popIn 0.6s ease;
}

/* .try-again {
  color: #0066ff;
  cursor: pointer;
  text-decoration: underline;
}

.try-again:hover {
  color: #003399;
} */


.color-box {
  width: 150px;
  height: 150px;
  margin: 0 auto 2rem;
  border-radius: 8px;

}

.guess-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.options {
  width: 50px;
  height: 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.options:hover {
  transform: scale(1.1);
}

.score {
  font-size: 13px;
  font-weight: bold;
  color: #808080;
  margin-bottom: 1rem;
}


/* @keyframes popIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
} */

.game-over {
  font-size: 1.3rem;
  color: red;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 1rem;
}

.action-buttons button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


button {
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 6px;
  background: #eaeaea;
  cursor: pointer;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
}

.footer-text h1 {
  font-size: 1.5rem
}